img {
    object-fit: cover;
    width: auto;
    max-height: 100%;
}

.post {
    width: auto;
}

#title {
    grid-area: title;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-size: 1.2em;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

#Navbar {
    grid-area: navbar;
    display: flex;
    flex-wrap: wrap;
    color: aliceblue;
    font-size: 1.2em;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

#Navbar>* {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    align-self: center;
}

#bio {
    grid-area: bio;
}

#container {
    display: grid;
    height: 100%;
    width: fit-content;
    border: 3px solid rgb(84, 219, 143);
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px 1fr 80px;
    grid-template-areas:
        "title"
        "navbar"
        "post"
        "footer";
}

#container > * {
    padding: 20px;
    border: 2px dashed orange;
}

#nestedGrid {
    grid-area: post;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/*
#nestedGrid {
    grid-area: post;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 300px);
}
*/

#nestedGrid>* {
    height: 200px;
    min-width: 300px;
    max-width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px 10px 10px 10px;
    margin-left: 10px;
}

@media (min-width: 600px) and (max-width:900px) {
    #container {
        display: grid;
        height: 100%;
        width: 100%;
        grid-template-columns: 200px 1fr;
        grid-template-rows: 100px 100px 1fr 80px;
        grid-template-areas:
            "title      title"
            "navbar     navbar"
            "bio        post"
            "footer     footer";
    }
}

#footer {
    grid-area: footer;
}